body {
	box-sizing: border-box;
  	font-family: 'Fira Sans', sans-serif;
}

Link {
	text-decoration: none;
}

main,
footer {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;


	section{
		h1{
			color: black;
			text-align: center;
			text-shadow: 2px 2px 1px #ff7f50;
		}

		p{
			font-family: "Lucida Console", "Courier New", monospace;
			color: darkslategray;
			b {
				padding: 0.5%;
				color: black;
				background-color: #ff4500;
			}
		}

	}
}

dl{
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: "Lucida Console", "Courier New", monospace;

	dt{
		justify-self: right;
		font-family: "Lucida Console", "Courier New", monospace;
	}
}

ul {
	list-style: none;
	padding: 0;
}

nav[aria-label = 'Main'] {
	li {
		display: flex;
		justify-content: center;
		
	}
}


footer {
	ul {
		display: flex;
		justify-content: space-around;
	}
}